
/*----- smart phone -----*/
@media(max-width: 750px){

	/*----- header -----*/
	.header-nav_links{
		display: none;
	}
	/*
	.menu-icon{
		display: block;
		text-align: right;
	}
	.fas{
		color: #bb6237;
	}
	*/
	.menu-trigger,
	.menu-trigger span {
		display: inline-block;
		transition: all .4s;
		box-sizing: border-box;
	}
	.menu-trigger {
		position: relative;
		width: 50px;
		height: 44px;
	}
	.menu-trigger span {
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #bb6237;
		border-radius: 4px;
	}
	.menu-trigger span:nth-of-type(1) {
		top: 0;
	}
	.menu-trigger span:nth-of-type(2) {
		top: 20px;
	}
	.menu-trigger span:nth-of-type(3) {
		bottom: 0;
	}
	.menu-trigger.active span:nth-of-type(1) {
		-webkit-transform: translateY(20px) rotate(-45deg);
		transform: translateY(20px) rotate(-45deg);
	}
	.menu-trigger.active span:nth-of-type(2) {
		opacity: 0;
	}
	.menu-trigger.active span:nth-of-type(3) {
		-webkit-transform: translateY(-20px) rotate(45deg);
		transform: translateY(-20px) rotate(45deg);
	}

	.global-menu{
		display: none;
		width: 100%;
		height:100%;
		text-align: center;
		position: fixed;
		top: 0;
		z-index: 100;
		background: rgba(0,0,0,0.8);
		padding: 20px;
		box-sizing: border-box;
	}
	.global-menu ul{
		padding-left: 0px;
	}
	.global-menu ul li{
		padding-left: 0px;
		list-style-type: none;
		margin-top: 50px;
	}
	.global-menu ul li a{
		color: #fff;
		text-decoration: none;
		font-size: 150%;
	}

	/*----- first section -----*/
	.title-container h1{
		font-size: 42px;
	}
	.title-container p {
	  font-size: 24px;
	}
	/*----- second section -----*/
	.subtitle-container h2,h3 {
	  font-size: 24px;
	}
	.feature-container {
	  margin-bottom: 50px;
	}
	.feature-container{
		width: 100%;
		margin-bottom: 15px;
	}
	.feature-contents h4 {
	  font-size: 16px;
	}
	.feature-contents p {
	  font-size: 13px;
	}
	/*----- bottom image + downroad btn -----*/
	.downroad-txt{
		top: 20%;
		left: 3%;
	}
	.downroad-txt h2{
  		font-size: 18px;
	}

	/*----- third section -----*/
	.about {
	  margin: 70px 0;
	}
	.about h3 {
	  font-size: 24px;
	  margin-bottom: 15px;
	}
	.about p {
	  font-size: 13px;
	}

	/*----- footer -----*/
	footer p{
		font-size: 13px;
	}
	
}
