
/*----- smart phone -----*/
@media(max-width: 750px){

	/*----- header -----*/
	.header-nav_links{
		display: none;
	}
	/*
	.menu-icon{
		display: block;
		text-align: right;
	}
	.fas{
		color: #bb6237;
	}
	*/
	.menu-trigger {
	    position: fixed;
	    right: 13px;
	    top: 25px;
	    display: block;
	    width: 45px;
	    height: 50px;
	    cursor: pointer;
	    z-index: 3;
	}
	.menu-trigger span {
	    display: block;
	    position: absolute;
	    width: 70%;
	    border-bottom: solid 3px #bb6237;
	    -webkit-transition: .3s;
	    -moz-transition: .3s;
	    transition: .3s;
	    padding-top: 5px;
	    right: 7px;
	}
	.menu-trigger span:nth-child(1) {
	    top: 3px;
	}
	.menu-trigger span:nth-child(2) {
	    top: 13px;
	}
	.menu-trigger span:nth-child(3) {
	    top: 23px;
	}
	.menu-trigger span:nth-child(4) {
	    border: none;
	    top: 28px;
	    left: 5px;
	    font-size: 12px;
	    font-weight: bold;
	}
	.menu-trigger.active span:nth-child(1) {
	    top: 15px;
	    left: 4px;
	    -webkit-transform: rotate(-45deg);
	    -moz-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	}
	.menu-trigger.active span:nth-child(2),
	.menu-trigger.active span:nth-child(3) {
	    top: 15px;
	    -webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    transform: rotate(45deg);
	}

	.global-menu {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    transform: translateY(-100%);
	    z-index: 2;
	    padding-top: 50px;
	    text-align: center;
	    /*color: 000;*/
	    background: #cc9844;
	    transition: all 0.8s;  
	}
	.global-menu .nav-li {
	    width: 100%;
	    padding: 20px;
	    list-style-type: none;
	}
	.global-menu .nav-li a {
	    display: inline-block;
	    text-decoration: none;
	    font-size: 18px;
	    color: #ffffff;
	}
	.global-menu .nav-li a:hover {
	    font-weight: bold;
	}
	.global-menu.active {
	    transform: translateY(0%);
	}

	/*----- first section -----*/
	.title-container h1{
		font-size: 42px;
	}
	.title-container p {
	  font-size: 24px;
	}
	/*----- second section -----*/
	.subtitle-container h2,h3 {
	  font-size: 24px;
	}
	.feature-container {
	  margin-bottom: 50px;
	}
	.feature-container{
		width: 100%;
		margin-bottom: 15px;
	}
	.feature-contents h4 {
	  font-size: 16px;
	}
	.feature-contents p {
	  font-size: 13px;
	}
	/*----- bottom image + downroad btn -----*/
	.downroad-txt{
		top: 20%;
		left: 3%;
	}
	.downroad-txt h2{
  		font-size: 18px;
	}

	/*----- third section -----*/
	.about {
	  margin: 70px 0;
	}
	.about h3 {
	  font-size: 24px;
	  margin-bottom: 15px;
	}
	.about p {
	  font-size: 13px;
	}

	/*----- footer -----*/
	footer p{
		font-size: 13px;
	}
	
}
