* {
  box-sizing: border-box;
}
body {
  font-family: 'Catnip' 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;
  font-size: 100%;
  color:
  background-color:
}
.container {
  max-width: 100%;
  width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;;
}
.header-nav_logo img {
  width: 38px;
  height: auto;
}
.header-nav_links li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav_links li a {
  text-decoration: none;
  color: #1a1a1a
  font-weight: bold;
}
