* {
  box-sizing: border-box;
}
body {
  font-family: 'Araial','Avenir','Helvetica Neue','Helvetica','小塚ゴシックPr6N','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif, serif;
  font-size: 100%;
  color: #1a1a1a;
  background-color: #ffffff;
}
/*----- container -----*/
.container {
  max-width: 100%;
  width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*----- header -----*/
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;;
}
.header-nav_logo img {
  width: 38px;
  height: auto;
}
.header-nav_links li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav_links li a {
  text-decoration: none;
  color: #1a1a1a
  font-family: 'Bradley Hand';
  font-weight: bold;
}

/*----- first section -----*/
.title-container {
  text-align: center;
}
.title-container h1 {
  font-family: 'Bradley Hand';
  font-size: 50px;
  margin-bottom: 10px;
}
.title-container p {
  font-size: 20px;
  margin-top: 0px;
}
.btn {
  width: 250px;
  height: 50px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: #ffffff;
  color: #bb6237;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  border: solid 2px #bb6237;
  border-radius: 5px;
  transition: .4s;
}
.btn:hover {
  background-color: #bb6237;
  color: #ffffff;
  cursor: pointer;
}
.top-img {
  width: 1080px;
  margin: 40px 20px;
}


